@import url(Font.css);

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: MyRegular;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --primary-color: #ef233c;
    --secondary-color: #d90429;
    --third-color: #ee4266;
    --font-color: #888;
    --bg-color: #fff;
    --heading-color: #2b2d42;
    --primary-dark: #212529;
    --border-radius: 4px;
    --nav-color: #2b2d42;
    --dropdown-color: #fff;
    --box-shadow: 0 25px 90px 0 #04020008;
    --bg-grey: #f7f6f6;
    --bg-lightgrey: #f1f3f8;
    --footer-bg: #0e0e0e;
}

body a, button, .btn {
    cursor: pointer !important;
}

/* ======================================================== HEADER ======================================================== */
header {
    width: 100%;
    background-color: var(--bg-color);
    position: sticky;
    top: 0px;
    z-index: 1000;
}

#MyHeader{
    width: 1150px;
    background-color: var(--bg-color);
    margin: 0 auto;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    position: relative;
    font-family: MyCondensed-Bold;
}

#navbar .logo {
    font-size: 28px;
    font-weight: bold;
    color: var(--primary-dark);
}

#navbar .logo a {
    text-decoration: none;
    color: var(--primary-dark);
}

#navbar .logo span {
    font-size: 28px;
    font-weight: bold;
    color: var(--primary-color);
}

#navbar #menu {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    font-family: MyCondensed-Regular;
    font-weight: normal;
}

#navbar #menu #search_bar {
    outline: 0px;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--font-color);
    background-color: var(--bg-lightgrey);
    padding: 0px 10px;
    display: none;
}

#navbar #menu #search_bar:focus {
    border: 1px solid var(--primary-color);
}

#navbar #menu #search_bar:focus::placeholder {
    color: var(--primary-color);
}

#navbar #menu #search_btn {
    height: 30px;
    border: 0px;
    background-color: transparent;
    font-size: 15px;
    margin: 0px;
    font-weight: lighter;
}

#navbar #menu i {
    font-size: 12px;
}

#navbar #menu a {
    text-decoration: none;
    font-size: 16px;
    color: var(--nav-color);
    transition: color 0.3s;
}

#navbar #menu a:hover {
    color: var(--third-color);
    border-bottom: 2px solid var(--third-color);
    border-radius: 3px;
}

#navbar #menu .active {
    color: var(--third-color);
    position: relative;
}

#navbar #menu .active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--third-color);
}

#navbar #menu .dropdown {
    position: relative;
}

#navbar #menu .dropdown div {
    width: 100px;
    display: none;
    padding: 5px 10px;
    margin-top: 2px;
    z-index: 1000;
    border-radius: 5px;
    font-size: 16px;
}

#navbar #menu .dropdown div ul {
    list-style: none;
}

#navbar #menu .dropdown div ul li {
    padding-bottom: 3px;
}

#navbar #menu .dropdown div ul li a {
    text-decoration: none;
    color: var(--primary-dark);
    transition: color 0.3s;
}

#navbar #menu .dropdown:hover div {
    display: block;
    position: absolute;
    background-color: var(--dropdown-color);
    box-shadow: var(--box-shadow);
}

#navbar #menu .dropdown div ul li a:hover {
    color: var(--third-color);
}

#navbar .actions {
    display: flex;
    gap: 10px;
}

#navbar .actions .btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#navbar .actions .btn i {
    background-color: transparent;
    color: var(--bg-color);
}

#navbar .actions .btn:hover {
    background-color: var(--secondary-color);
}

#navbar .actions .dark-mode {
    font-size: 20px;
    color: var(--primary-dark);
    cursor: pointer;
    border: 0px;
    margin-left: 20px;
    background-color: transparent;
}

#navbar .actions .count_btn{
    position: relative;
}

#navbar .actions .count_btn #count{
    background-color: var(--third-color);
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    top: -2px;
    left: -2px;
    color: var(--bg-color);
}
/* ======================================================== /HEADER ======================================================== */

/* ======================================================== BANNER ======================================================== */
#banner {
    height: 500px;
    padding: 20px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner #banner_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-image: url(../Images/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(50%) brightness(50%);
    z-index: -1;
}

#banner #banner_content {
    width: 100%;
    max-width: 1150px;
    text-align: center;
    position: relative;
    padding: 50px;
}

#banner #banner_content .banner_text {
    font-weight: bold;
    color: var(--bg-color);
    font-family: MyCondensed-Bold;
}

#banner #banner_content .banner_text:nth-child(1) {
    font-size: 25px;
    color: var(--secondary-color);
}

#banner #banner_content .banner_text:nth-child(2) {
    font-size: 70px;
}

#banner #banner_content .banner_text:nth-child(3) {
    font-size: 20px;
    margin-bottom: 50px;
}

#banner #banner_content button {
    width: 250px;
    background-color: var(--primary-color);
    border: none;
    font-family: MyLight;
    font-size: 15px;
    border-radius: var(--border-radius);
    padding: 15px 40px;
    color: var(--bg-color);
    transition: all 0.3s;
    cursor: pointer;
}

#banner #slider_content button:hover {
    background-color: var(--third-color);
}
/* ======================================================== /BANNER ======================================================== */

/* ======================================================== FREE-SHIPPING ======================================================== */
#free_shoping_section {
    width: 100%;
    padding: 40px 0px;
    background-color: var(--bg-grey);
    text-align: center;
}

#free_shoping_section #free_shoping_section_wrap {
    width: 500px;
    margin: 0 auto;
}

#free_shoping_section #free_shoping_section_wrap div {
    display: inline;
    font-size: 25px;
    font-weight: bold;
}

#free_shoping_section #free_shoping_section_wrap i {
    padding: 0px 10px;
    font-size: 25px;
}
/* ======================================================== /FREE-SHIPPING ======================================================== */

/* ======================================================== CARDS ======================================================== */
#card_section {
    padding: 70px 0px;
    height: 420px;
}

#card_wrap {
    width: 1150px;
    height: 280px;
    margin: 0 auto;
    position: relative;
}

#card_wrap .card {
    width: 560px;
    height: 280px;
    border-radius: var(--border-radius);
    background-repeat: no-repeat;
    background-size: 100%;
}

#card_wrap #card1 {
    position: absolute;
    top: 0px;
    left: 2.5px;
    background-image: url(../Images/banner5.jpg);
    filter:contrast(50%);
    filter:brightness(50%);
}

#card_wrap #card2 {
    position: absolute;
    top: 0px;
    right: 2.5px;
    background-image: url(../Images/banner4.jpg);
    filter:contrast(50%);
    filter:brightness(50%);
}

#card_wrap .card_content_wrapper {
    color: var(--bg-color);
    font-family: MyCondensed-Bold;
    font-size: 40px;
}

#card_wrap .card_content_wrapper br {
    margin: 0;
}

#card_wrap .card_content_wrapper a button {
    background-color: transparent;
    border: 1px solid var(--bg-color);
    border-radius: var(--border-radius);
    padding: 15px 40px;
    font-family: MyLight;
    font-size: 15px;
    color: var(--bg-color);
    transition: all 0.3s;
}

#card_wrap .card_content_wrapper a {
    text-decoration: none;
    color: inherit;
    font-family: MyLight;
    font-size: 15px;
}

#card_wrap .card_con1 {
    position: absolute;
    top: 50px;
    left: 50px;
}

#card_wrap .card_con2 {
    position: absolute;
    top: 50px;
    left: 650px;
}

#card_wrap #card1:hover+.card_content_wrapper button {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

#card_wrap #card2:hover+.card_content_wrapper button {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

#card_wrap .card_content_wrapper:hover button {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
/* ======================================================== /CARDS ======================================================== */

/* ======================================================== VIDEO ======================================================== */
#product_video_section {
    height: 500px;
    padding: 20px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product_video_section #product_video_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-image: url(../Images/banner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(70%) brightness(70%);
    z-index: -1;
    background-position: center center;
    background-attachment: fixed;
}

#product_video_section #product_video_content {
    width: 100%;
    max-width: 1150px;
    text-align: center;
    position: relative;
    padding: 40px;
}

#product_video_section #product_video_content #product_video_box1 {
    color: var(--bg-color);
    font-family: MyCondensed-Bold;
    font-size: 40px;
    width: 600px;
    margin: 0 auto;
}

#product_video_section #product_video_content #product_video_box2 {
    color: var(--primary-color);
    font-size: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--bg-color);
    margin-top: 80px;
    padding: 20px 17px 20px 23px;
    cursor: pointer;
    transition: all 0.3s;
}

#product_video_section #product_video_content #product_video_box2:hover {
    font-size: 40px !important;
    padding: 15px 12px 15px 18px;
    background-color: var(--primary-color);
    color: var(--bg-color);
}
/* ======================================================== /VIDEO ======================================================== */

/* ======================================================== PRODUCT SECTION ======================================================== */
/* ******************************************************** PRODUCT HEADER ******************************************************** */
#product_heading_section {
    width: 100%;
    background-color: var(--bg-grey);
}

#product_heading_section #product_heading {
    width: 1150px;
    padding: 15px 10px;
    margin: 0 auto;
}

#product_heading_section #product_heading div:nth-child(1) {
    font-family: MyCondensed-Bold;
    font-size: 40px;
}

#product_heading_section #product_heading div:nth-child(2) {
    color: var(--font-color);
}
/* ******************************************************** /PRODUCT HEADER ******************************************************** */
/* ******************************************************** PRODUCT COLLECTION ******************************************************** */
#product_collection {
    width: 1150px;
    margin: 0 auto;
    padding: 5px;

    display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	align-content:space-evenly;
}

#product_collection .product_item {
    width:260px;
    margin: 20px 3.75px;
    padding: 5px;
    box-shadow: 0 25px 90px 0 var(--font-color);
    border-radius: var(--border-radius);
}

#product_collection .product_item:hover {
    background-color: var(--bg-lightgrey);
}

/* Image */
#product_collection .product_item .product_image_div {
    width: 250px;
    height: 320px;
    border-radius: var(--border-radius);
    position: relative;
}

#product_collection .product_item .product_image_div .product_image {
    width: 250px;
    height: 320px;
    border-radius: var(--border-radius);
}

/* Button */
#product_collection .product_item .product_image_div .product_image_btns {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#product_collection .product_item .product_image_div .product_image_btns .view_product_div {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: -100px;
    display: none;
}

#product_collection .product_item:hover .product_image_div .product_image_btns .view_product_div {
    position: absolute;
    top: -70px;
    left: 5px;
    display: block;
}

#product_collection .product_item .product_image_div .product_image_btns .view_product_div .eye_btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--bg-color);
    transition: all 0.3s;
    cursor: pointer;
}

#product_collection .product_item .product_image_div .product_image_btns .view_product_div .eye_btn:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

#product_collection .product_item .product_image_div .product_image_btns .add_to_cart_div .add_to_cart {
    height: 40px;
    width: 250px;
    padding: 10px;
    background-color: var(--heading-color);
    font-weight: bold;
    color: var(--bg-color);
    border-radius: 0px 0px 4px 4px;
    display: none;
    transition: all 0.3s;
    text-align: center;
    cursor: pointer;
}

#product_collection .product_item:hover .product_image_div .product_image_btns .add_to_cart_div .add_to_cart {
    display: block;
}

#product_collection .product_item .product_image_div .product_image_btns .add_to_cart_div .add_to_cart:hover {
    background-color: var(--primary-color);
}

/* Product name */
.product_item .product_name_div {
    margin-top: 10px;
    width: 250px;
    height: 40px;
    padding: 5px 4px;
    text-align: center;
}

.product_item .product_name_div .product_name {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.product_item .product_name_div .product_name:hover {
    color: var(--primary-color) !important;
}

/* Product price */
.product_item  .product_price {
    width: 250px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
}

.product_item  .product_price span:nth-child(1) {
    color: var(--font-color);
}

.product_item  .product_price span:nth-child(2) {
    color: var(--primary-color);
    font-weight: bold;
}

#new_product_panel_div {
    width: 246px;
    height: 80px;
    margin: 0 auto;
    border-radius: var(--border-radius);
}

#new_product_panel_div #new_product_panel {
    width: 246px;
    height: 80px;
    padding: 5px;
    font-family: MyLight;
    font-size: 15px;
    border: 0px;
    border-radius: var(--border-radius);
}

#new_product_panel:hover {
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-weight: bold;
    text-decoration: underline;
}
/* ******************************************************** /PRODUCT COLLECTION ******************************************************** */
/* ======================================================== /PRODUCT SECTION ======================================================== */

/* ======================================================== SUBSCRIPTION ======================================================== */
#subscription_section  {
    padding: 40px 0px;
    margin: 20px 0px;
    background-color: var(--bg-grey);
}

#subscription_section #subscription_section_div {
    width: 1150px;
    margin: 0 auto;
}

#subscription_section #subscription_section_div #envelope {
    width: 60px;
    margin: 0 auto;
    font-size: 60px;
    color: var(--primary-color);
}

#subscription_section #subscription_section_div #subscription_heading {
    text-align: center;
    font-size: 40px;
    font-family: MyCondensed-Bold;
}

#subscription_section #subscription_section_div #subscription_para {
    text-align: center;
    font-size: 15px;
    font-family: MyRegular;
    color: var(--font-color);
    margin: 8px 0px 20px 0px;
}

#subscription_section #subscription_section_div #subscription_email_div {
    width: 500px;
    margin: 0 auto;
    padding: 5px 0px;
}

#subscription_section #subscription_section_div #subscription_email_div #subscription_email {
    width: 350px;
    height: 50px;
    background-color: var(--bg-lightgrey);
    border: 1px solid #dcdfe6;
    border-radius: var(--border-radius);
    outline: 0px;
    padding: 0px 10px;
    font-size: 20px;
}

#subscription_section #subscription_section_div #subscription_email_div #subscription_email::placeholder {
    font-size: 15px;
    color: #aeafb1;
}

#subscription_section #subscription_section_div #subscription_email_div #subscription_email:focus {
    border: 1px solid var(--primary-color);
}

#subscription_section #subscription_section_div #subscription_email_div #subscription_email:focus::placeholder {
    color: var(--primary-color);
} 

#subscription_section #subscription_section_div #subscription_email_div #subscription_email_btn {
    width: 140px;
    height: 50px;
    background-color: var(--primary-color);
    border: 0px;
    font-size: 15px;
    color: var(--bg-color);
    border-radius: var(--border-radius);
}

#subscription_section #subscription_section_div #subscription_email_div #subscription_email_btn:hover {
    background-color: var(--secondary-color);
}

#subscription_section #subscription_section_div #terms_and_policy {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    color: var(--font-color);
    font-size: 15px;
    font-family: MyRegular;
    padding: 20px 0px;
    line-height: 25px;
}

#subscription_section #subscription_section_div #terms_and_policy a {
    text-decoration: none;
    color: var(--primary-color);
}
/* ======================================================== /SUBSCRIPTION ======================================================== */

/* ======================================================== FOOTER ======================================================== */
#Footer {
    padding: 60px;
    background-color: var(--footer-bg);
}

#Footer #Footer_div {
    width: 1150px;
    margin: 0 auto;
}

#Footer #Footer_div #Footer_text {
    width: 600px;
    text-align: left;
    font-family: MyCondensed-Bold;
    font-size: 40px;
    font-weight: bold;
    color: var(--bg-color);
}

#Footer #Footer_div #Footer_link_div {
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	align-content: space-evenly;
    justify-content: space-around;
    text-align: left;
    color: var(--font-color);
}

#Footer #Footer_div #Footer_link_div .Footer_link {
    text-align: left;
	height: 300px;
    width: 250px;
    padding: 30px 0px;
    margin: 10px;
    font-family: MyCondensed-Regular;
}

#Footer #Footer_div #Footer_link_div .Footer_link h3 {
    margin-bottom: 10px;
    color: var(--bg-color);
    font-size: 30px;
}

#Footer #Footer_div #Footer_link_div .Footer_link ul {
    list-style: none;
    padding: 0px;
}

#Footer #Footer_div #Footer_link_div .Footer_link ul li {
    margin: 5px 0px;
}

#Footer #Footer_div #Footer_link_div .Footer_link ul li a {
    color: var(--font-color);
    text-decoration: none;
}

#Footer #Footer_div #Footer_link_div .Footer_link ul li a:hover {
    color: var(--bg-color);
}

#Footer #Footer_div #Footer_link_div .Footer_link #addr {
    cursor: pointer;
    line-height: 1.6;
}

#Footer #Footer_div #Footer_link_div .Footer_link #addr:hover {
    color: var(--bg-color);
}

#Footer #Footer_div #Footer_link_div .Footer_link p a {
    color: var(--font-color);
    text-decoration: none;
}

#Footer #Footer_div #Footer_link_div .Footer_link p a:hover {
    color: var(--bg-color);
}

#Footer #Footer_div #Footer_link_div .Footer_link table tr th {
    border: 0px;
}

#Footer #Footer_div #Footer_link_div .Footer_link table tr th a {
    text-decoration: none;
    color: var(--bg-color);
    font-size: 40px;
    font-weight: lighter;
}

#Footer #Footer_div #Footer_link_div .Footer_link table tr th a:hover {
    color: var(--third-color);
}

#Footer_break {
    width: 100%;
    height: 1px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: var(--bg-color);
}
/* ======================================================== /FOOTER ======================================================== */

/* ======================================================== COPYRIGHT ======================================================== */
#copyright_footer {
    padding: 20px 0px;
    background-color: var(--footer-bg);
    color: var(--bg-color);
    font-family: MyCondensed-Regular;
    color: var(--font-color);
}

#copyright_footer div {
    width: 1150px;
    height: 40px;
    margin: 0 auto;
    text-align: left;
}

#copyright_footer div div:nth-child(1) {
    width: 600px;
    height: 40px;
    float: left;
    padding: 10px;
}

#copyright_footer div div:nth-child(1) a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.3s;
}

#copyright_footer div div:nth-child(1) a:hover {
    font-weight: bolder;
}

#copyright_footer div div:nth-child(2) {
    width: 400px;
    height: 40px;
    float: right;
}

#copyright_footer div div:nth-child(2) a {
    text-decoration: none;
    color: var(--bg-color);
    font-size: 20px;
}

#copyright_footer div div:nth-child(2) a span {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    padding: 10px;
    float: right;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    transition: all 0.3s;
}

#copyright_footer div div:nth-child(2) a span:hover {
    background-color: var(--third-color);
    font-weight: bold;
}
/* ======================================================== /COPYRIGHT ======================================================== */

/* ======================================================== MOVETOP ======================================================== */
#movetop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: 0px;
    border-radius: var(--border-radius);
}
/* ======================================================== /MOVETOP ======================================================== */



/* ======================================================== CUSTOM DIV ======================================================== */
/* ======================================================== PRODUCT SECTION ======================================================== */
#overlay {
    width: 100%;
    height: 600px;
    background: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    top: 50px;
    left: 0px;
}

#product_details {
    width: 920px;
    height: 450px;
    border-radius: var(--border-radius);
    background-color: transparent;
    margin: 50px auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#product_details #cls {
    width: 20px;
    height: 20px;
    background-color: rgba(182, 172, 172, 0.5);
    border: 0px;
    border-radius: var(--border-radius);
    margin-left: 875px;
    transition: all 0.3s;
    color: var(--bg-color);
}

#product_details #cls:hover {
    background-color: var(--primary-color);
}

.product_header {
    font-family: MyCondensed-Italic;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    background-color: var(--font-color);
    margin: 5px 0px;
    color: var(--bg-grey);
    border-radius: var(--border-radius);
}

#product_info_header {
    font-family: MyCondensed-Italic;
    text-align: center;
    text-decoration: underline;
    background-color: var(--font-color);
    color: var(--bg-grey);
    font-size: 30px;
}

/* VIDEO, MAP */
#product_details #video_window,#map_window,#product_info_div {
    width: 900px;
    height: 400px;
    padding: 0px 50px;
    display: none;
    overflow: hidden;
    border-radius: var(--border-radius);
}

/* ******************************************************** ADD THE PRODUCT ******************************************************** */
#product_details #product_info_div {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    background-color: var(--bg-grey);
}

#product_details #product_info_div div {
    width: 500px;
    height: 360px;
    margin: 20px auto;
}

#product_details #product_info_div div table {
    width: 500px;
    height: 360px;
}

#product_details #product_info_div div table tr {
    margin: 20px;
}

#product_details #product_info_div div table tr th {
    border: 0px;
}

#product_details ._prdc_name {
    height: 30px;
    width: 300px;
    outline: 0px;
    padding: 5px;
    margin: 1px 0px;
    font-size: 22px;
    color: var(--primary-dark);
    font-family: MyCondensed-Italic;
}

#product_details label {
    width: 200px;
    color: var(--primary-dark);
    font-family: MyCondensed-Italic;
    font-size: 22px;
    padding: 4px 0px;
    cursor: pointer;
}

.buttons {
    width: 200px;
    margin: 0 auto;
    height: 50px;
    outline: none;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-family: MyCondensed-Italic;
    font-size: 18px;
    border: 0px;
    border-radius: var(--border-radius);
}

.buttons:hover {
    background-color: var(--third-color);
}
/* ******************************************************** /ADD THE PRODUCT ******************************************************** */

/* ******************************************************** PRODUCT DETAILS PANEL ******************************************************** */
#product_details #product_details_wrapper {
    width: 860px;
    height: 420px;
    padding: 10px 30px;
    display: none;
    background-color: var(--bg-lightgrey);
    border-radius: var(--border-radius);
    position: relative;
}

#product_details #product_details_wrapper #mouse_hover_box {
    width: 300px;
    height: 360px;
    background-size: 700px 900px;
    position: absolute;
    top: 10px;
    left: 360px;
    background-color: var(--bg-lightgrey);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: none;
}

/* PRODUCT PIC */
#product_details #product_details_wrapper #product_picture_div {
    width: 300px;
    height: 340px;
    border: 1px solid var(--primary-dark);
    border-radius: var(--border-radius);
    margin-right: 20px;
    float: left;
}

/* PRODUCT PIC */
#product_details #product_details_wrapper #product_picture_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    cursor: zoom-in;
}

/* PRODUCT DEATAILS */
#product_details #product_details_wrapper #product_details_div {
    float: right;
    width: 480px;
    height: 340px;
    padding: 0px 20px;
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primary-dark);
    font-family: MyCondensed-Italic;
    font-size: 22px;
}

#product_details #product_details_wrapper #product_details_div div {
    width: 420px;
    margin: 2px 10px;
    cursor: default;
}

/* PRODUCT NAME */
#product_details #product_details_wrapper #product_details_div #product_name_detls:hover {
    color: var(--primary-color);
}

/* PRODUCT RATING */
#product_details #product_details_wrapper #product_details_div #product_rating_detls {
    font-size: 16px;
    cursor: default;
    display: flex;
    gap: 8px;
    padding: 5px;
    color: gold;
}

/* PRODUCT DISCRIPTION */
#product_details #product_details_wrapper #product_details_div #product_discription_detls {
    font-family: MyCondensed-Italic;
    text-align: justify;
    font-size: 18px;
    line-height: 1.2;
}

/* PRODUCT PRICE */
#product_details #product_details_wrapper #product_details_div div:nth-child(4) {
    height: 50px;
    padding-top: 20px;
}

#product_details #product_details_wrapper #product_details_div div #product_discounted_price_detls {
    color: var(--primary-color);
}
/* ******************************************************** /PRODUCT DETAILS PANEL ******************************************************** */

/* ******************************************************** YOUR CART ******************************************************** */
#product_details #your_cart {
    width: 900px;
    min-height: 400px;
    padding: 10px 50px 50px 50px;
    display: none;
    background-color: var(--bg-lightgrey);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
}

#your_cart #product_cart_image {
    position: fixed;
    top: 50%; 
    left: 50%;
    width: 270px;
    height: 370px;
    border-radius: var(--border-radius);
    background-color: transparent;
    display: none;
    transform: translate(-50%, -50%);
}

#your_cart #product_cart_image img {
    width: 270px;
    height: 370px;
    border-radius: var(--border-radius);
}

#your_cart #your_cart_section {
    width: 800px;
    display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-evenly;
	align-content:space-evenly;
    border-radius: var(--border-radius);
}

#your_cart #your_cart_section,#total_amount {
    text-align: center;
    font-family: MyCondensed-Italic;
    font-size: 26px;
}

#your_cart #your_cart_section .cart_product {
    width: 798px;
    height: 98px;
    border-radius: var(--border-radius);
    margin: 5px 0px;
    background-color: #f3f0f0;
    box-shadow: var(--box-shadow);
    border: 1px solid #dcd8d8;
}

.cart_product table {
    width: 798px;
    height: 97px;
    font-family: MyCondensed-Regular;
    font-weight: normal;
    font-size: 20px;
}

.cart_product table tr .cart_slno {
    width: 80px;
}

.cart_product table tr .cart_product_details {
    width: 540px;
    padding-left: 30px;
    transition: all 0.3s;
}

.cart_product table tr .cart_product_details:hover {
    color: var(--third-color);
    cursor: pointer;
}

.cart_product table tr .cart_product_details .cart_star {
    font-size: 16px;
    cursor: pointer;
    gap: 8px;
    padding: 5px;
    color: gold;
}

.cart_product table tr .total_price {
    width: 178px;
}

#checkout {
    margin: 0 auto;
    width: 300px;
    padding: 0px 20px;
}
/* ******************************************************** /YOUR CART ******************************************************** */
/* ======================================================== /PRODUCT SECTION ======================================================== */
/* ======================================================== /CUSTOM DIV ======================================================== */
